:root {
  --primary-font: 'Roboto', sans-serif; /* main font on the page */
  --logo-font: 'Raleway', sans-serif; /* font in logo */
  --primary-color: #212121; /* main text color on the page headers */
  --secondary-color: #757575; /* color for box descriptions and phone */
  --dark-background-color: #2f303a; /* dark background color for header and footer */
  --second-background-color: #f5f4fa; /* background color in nasz zesół section and portfolio project */
  --logo-studio-color: #000000;
  --span-logo-color: #2196f3; /* color for webstudio and hover */
  --thirt-color: #ffffff; /*color for main headline and button text inside */
  --forth-color: #eeeeee;
  --social-icon-color: #afb1b8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0;
}

.container {
  /* all divs */
  max-width: 1200px;
  margin: 0px auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.card-icon {
  padding: 25px 100px;
  background-color: var(
    --second-background-color
  );
  border-radius: 4px;
  margin-bottom: 30px;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header .nav-container,
.navigation {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-link,  /* header menu */
.contact-link,
.header-logo {
  text-decoration: none;
}

.is-active:after {
  content: '';
  width: 53px;
  height: 4px;
  display: flex;
  border-radius: 2px;
  background: #2196f3;
  position: absolute;
  top: 76px;
}

.header-menu
  > .header-menu-item:not(:last-child) {
  margin-right: 40px;
}

.contact-list
  > .header-contact-list:not(:last-child) {
  margin-right: 40px;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.header-menu-item,  /* contact list in header with no bulletpoint */
 .header-contact-list {
  list-style: none;
}

.header-logo {
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  justify-content: center;
  margin-right: 93px;
  color: var(--logo-studio-color);
}

.logo-first {
  /*logo webstudio first blue part */
  color: var(--span-logo-color);
  margin-top: 24px;
  margin-bottom: 20px;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-link {
  /* header link to agencja portfolio kontakt */
  font-weight: 500;
  line-height: 1.17;
  color: var(--primary-color);
  text-transform: capitalize;
}

.contact-link {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  font-weight: 500;
  line-height: 1.17;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--span-logo-color);
  fill: var(--span-logo-color);
}

.menu-icon {
  margin-right: 5px;
}

.main-headline {
  /* header main heading and button */
  text-align: center;
  align-items: center;
  display: flex;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 600px;
  padding: 94px 0;
  max-width: 1600px;
  margin: auto;
}

.main-headline-item {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--thirt-color);
  margin-bottom: 30px;
}

.our-advantages {
  display: flex;
  gap: 30px;
}

.our-advantages-item {
  list-style: none;
}

/* lorem ipsum headers */
.advantages-name {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/*lorem ipsum paragraph description */
.advantages-paragraph {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-color);
}

.what-we-do-images {
  display: flex;
  justify-content: space-between;
}

.what-we-do-description {
  position: relative;
}

.image-figcaption {
  width: 370px;
  height: 70px;
  position: absolute;
  color: var(--thirt-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 28px;
  bottom: 3px;
  background: rgba(47, 48, 58, 0.8);
}

.what-we-do-title {
  /* czym sie zajmujemy title */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-color);
}

.what-we-do-box {
  /* 3 images under czym sie zajmujemy */
  list-style: none;
}

.what-we-do-boxes {
  display: flex;
  gap: 30px;
}

.our-team {
  /* nasz zespól background color*/
  background-color: var(
    --second-background-color
  );
  list-style: none;
  padding: 94px 0;
}

.our-team-header {
  /* nasz zespół header */
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.our-team-header::first-letter {
  text-transform: uppercase;
}

.our-team-card {
  list-style: none;
  display: flex;
  max-width: 270px;
  gap: 30px;
  text-align: center;
}

.our-team-card-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--thirt-color);
}

.our-team-card-content {
  padding: 30px 0;
}

.our-team-name {
  /*john doe name card */
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: capitalize;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
}

.our-team-name,
.our-team-description {
display: block;
}

.our-team-description {
  /*john doe profession */
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  text-transform: capitalize;
  margin-top: 10px;
}
.social-items {
  display: flex;
  margin: 0px 32px;
  padding-top: 16px;
  fill: var(--social-icon-color);
  justify-content: space-around;
}

.social-media:hover,
.social-media:focus {
  transition-property: background-color, color,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  fill: var(--thirt-color);
  background-color: var(--span-logo-color);
  border-radius: 50px;
}

.social-media {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.our-clients {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.our-client-logo {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.logo-boxes {
  border: 1px solid #afb1bb;
  border-radius: 3px;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
}

.logo-boxes:hover {
  transition-property: background-color, color,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  width: 170px;
  height: 92px;
  border: 1px solid var(--span-logo-color);
}

.logo-boxes:hover .client-icon,
.logo-boxes:focus .client-icon {
  transition-property: background-color, color,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  fill: var(--span-logo-color);
}

.client-icon {
  fill: var(--social-icon-color);
}

.footer {
  background-color: var(--dark-background-color);
  padding: 60px 0px;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

.link-footer-logo {
  color: var(--thirt-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 20px;
}

.footer-details {
  list-style: none;
}

.logo-first {
  color: var(--span-logo-color);
}

.location {
  font-style: normal;
  color: var(--thirt-color);
}

.footer-contact-item + .footer-contact-item {
  padding-top: 9px;
}

.link-footer {
  color: #ffffff99;
  text-decoration: none;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--thirt-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 11px 0px;
}

.footer-social-icons {
  margin-left: 70px;
  padding-bottom: 72px;
}

.social-list {
  list-style: none;
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  fill: var(--thirt-color);
}

.div-icon {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 12px;
}

.div-icon:hover,
.div-icon:focus {
  transition-property: background-color, color,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  background-color: var(--span-logo-color);
}

/*newsletter*/
.footer-form {
  margin-left: 78px;
  margin-top: 11px;
}

.footer-newsletter {
  display: flex;
}

.newsletter-title {
  margin-bottom: 20px;
  color: var(--thirt-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
}

.form-input {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-background-color);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  border-radius: 4px;
}

.button-footer {
  width: 200px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--span-logo-color);
  color: var(--thirt-color);
  text-transform: uppercase;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  padding: 10px 28px 10px 42px;
  margin-left: 12px;
  display: inline-flex;
}

.button-footer:hover {
  cursor: pointer;
}
.newsletter-icon {
  margin-left: 24px;
  fill: var(--thirt-color);
}

/* portfolio website  buttons section as header is the same*/

.list-button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.filter-button:not(:last-child) {
  margin-right: 8px;
}

.button-header {
  /*buttons in main section */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  background-color: var(
    --second-background-color
  );
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}

.button-header:focus,  /*button pseudoclasses */
.button-header:hover,
.button-header:active {
  transition-property: background-color, color,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  color: var(--thirt-color);
  background-color: var(--span-logo-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.filter-button,
.image-card {
  list-style: none;
}

/* filter cards -overlay effect*/

.image-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  gap: 30px;
  list-style: none;
}

.image-list {
  /* all filter cards*/
  max-width: 370px;
  max-height: 404px;
  border-left: 1px solid var(--forth-color);
  border-bottom: 1px solid var(--forth-color);
  border-right: 1px solid var(--forth-color);
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.image-list:hover,
.image-list:focus {
  transition-property: background-color, color,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
}

.image-list:hover .card-overlay-paragraph,
.image-list:focus .card-overlay-paragraph {
  transform: translatey(0);
}

.image-list-name {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image-list-content {
  padding: 20px 24px;
}

.image-list-description {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.875;
  display: flex;
}

.social-list,
.our-client-logo,
.team-card-icons,
.menu-icon,
.image-list {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--thirt-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 1;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  transform: translate(-50%, -50%);
}


.button-close {
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: var(--thirt-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
}

.modal-icon {
  fill: #000000;
}

.button-modal-background {
  justify-content: center;
  display: flex;
}

.main-headline-button {
  /* main button zamow usługe*/
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  background-color: var(--span-logo-color);
  color: var(--thirt-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  display: block;
  letter-spacing: 0.03em;
  line-height: 1.17;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.contact-form {
  max-width: 528px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-list-items {
  list-style-type: none;
  position: relative;
  margin: 10px 0px 0px;
}

.label-form {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
  margin: 0px 0px 4px;
}

.label-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  display: block;
  outline:none
}

.textarea-input {
  display: block;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  width: 100%;
  outline:none
}

.textarea-input:hover,
.textarea-input:focus,
.textarea-input:active {
  border: 1px solid var(--span-logo-color);
  transition: border 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 20px;
  margin: 11px 12px;
  transition: border 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list-items:hover,
.form-list-items:focus,
.form-list-items:active {
  fill: var(--span-logo-color);
  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.label-input:hover,
.label-input:focus,
.label-input:active {
  border: 1px solid var(--span-logo-color);
  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-div {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.rules-accept {
  appearance: none;
  cursor: pointer;
}

.checkbox-link {
  color: var(--span-logo-color);
}

.checkbox-link:hover,
.checkbox-link:focus {
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox-rules {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.checkbox-rules::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 5px;
}

.rules-accept:checked + .checkbox-rules::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-position: center;
  border: none;
}

.textarea-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  background-color: var(--span-logo-color);
  border: none;
  color: var(--thirt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0px 124px;
}

.form-button:hover,
.form-button:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}